*{ padding: 0; margin: 0;}
ul{list-style: none;}
.space{clear: both;}
.logo{width: 100%; text-align: center; padding: 20px 0;}
.menubar{ width: 100%; height: 50px; background-color: #007bc1;}
.menu{ width: 1088px;color: #fff; margin: 0 auto;text-align: center;}
.menu>li{width: calc(100%/6); float: left; line-height: 50px;}
.menu>li>a{color: #fff; text-decoration: none;}
.mainimg{width: 100%;height: 508px;background-image: url(../images/mainbanner.png); background-repeat: no-repeat;background-position: center bottom;background-size: cover;}
/* 콘텐츠 */
.inner{width: 1088px; margin: 0 auto;}
.box1>.inner>h2{padding-top: 70px; text-align: center;}
.box1_set{padding-top: 37px;}
.list{float: left;width: calc(100%/4);}
.list>p{font-size: 12px;color: #000;}
.box2>.inner>h2{padding-top: 70px;text-align: center;}
.box2>.inner>ul{padding-top: 30px;}
.box2>.inner>ul>li{float: left; width: calc(100%/8 - 3%); background-color: #e88506;color: #fff; margin: auto; margin-bottom: 2%;height: 60px; line-height: 60px;margin: 0 1.7142857143%; margin-bottom: 2%;}
.box2>.inner>ul>li:nth-child(1), .box2>.inner>ul>li:nth-child(9){margin-left: 0;}
.box2>.inner>ul>li:nth-child(8),.box2>.inner>ul>li:nth-child(16){margin-right:  0;}
.box2>.inner>ul>li>span{padding-left: 25px;}
.box3{padding-top: 70pt;}
.footer{width: 100% ; height: 206px; background-color:#dd2036; color: #fff;margin-top: 50px;}
.copyright{float: left; font-size: 12px; padding-top: 50px;}
.sns{float: right;padding-top: 50px;}
.sns>li{width:30px ;float: left;}
.sns>li:nth-child(2){padding-left: 10px;}
/* 서브 */
.sub_mainimg{width: 100%; height: 508px;background-image:url(../images/sub_banner.png);background-repeat: no-repeat;background-position: center bottom;background-size: cover; }
.sub_contents>.inner>p{font-size: 25pt;color: #000; text-align: center; margin-top:130px; margin-bottom: 130px;}
.sub_box1{width: 860px; height: 180px; margin: 0 auto;}
.sub_box1>.sub_infoimg{width: 300px; height: 128px; margin-bottom: 28px;float: left;}
.sub_infotext{float: right; width: 523px; height: 86px; font-size: 13px;}
.sub_infotext>h2{padding-bottom: 10px;}